body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #464343;
}

.forgot-password {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #7c7474da;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgb(226, 15, 15);
    text-align: center;
}

.forgot-password h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.forgot-password p {
    font-size: 16px;
    margin-bottom: 20px;
}

.forgot-password form {
    text-align: left;
}

.forgot-password label {
    font-size: 16px;
}

.forgot-password input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #e4b1b1;
    border-radius: 4px;
}

.forgot-password button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.forgot-password button:hover {
    background-color: #3d4b5a;
}

.back-link {
    font-size: 14px;
    margin-top: 20px;
}

.back-link a {
    color: #007bff;
    text-decoration: none;
}

.back-link a:hover {
    text-decoration: underline;
}
